* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    padding: 40px;
    display: grid;
    gap: 1rem;
    font-size: 5rem;
    grid-template-columns: repeat(3, 1fr);
 }

div {
    display: grid;
    align-items: center;
    place-content: center;
}

header {
    background-color: rebeccapurple;
    display: grid;
    place-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}