body {
    font-family: 'Poppins', sans-serif;
}

/*removed margin and padding from the whole elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*set the view to 100% of the viewport on both width and height*/
.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(145deg, #6db193 0, #f1b01b 75%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*this css determines how the card is displayed in collapsed view*/
.blog-card {
    /* width: 55%; */
    /* height: 80%; */
    min-width: 600px;
    height: 48%;
    background: rgb(98, 98, 98);
    border-radius: 2.5rem;
    padding: 2.5rem;
    box-shadow: 0 1.4rem 8rem rgb(98, 98, 98 0.8 );
    /*the position: relative is invoked when we want to 
    add an element directly on another like notification count on a bulb*/
    position: relative;
    transition: all 0.5s;
}

/*this css determines how the card is displayed in expanded view
the .change is added from the file js*/
.change.blog-card {
    width: 55%;
    height: 85%;
}

.blog-card-img {
    width: 30rem;
    height: 30rem;
    background: linear-gradient(145deg, #6db193 0, #f1b01b 75%);
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: -5rem;
    transform: translateY(-50%) scale(0.6);
    transition: all 0.5s;
}

.change .blog-card-img {
    transform: translateY(-50%) scale(0.6);
    top: 15%;
    left: -10rem;
    width: 36rem;
    height: 36rem;
}

.blog-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    opacity: 0.5;
}

.blog-card-content {
    position: absolute;
    top: 8%;
    left: 30%;
    transform: scale(0.8);
    transition: all 0.5s;
}

.change .blog-card-content {
    top: 0;
    left: 23%;
    transform: scale(0.8);
}

.blog-card-content h3 {
    font-size: 2rem;
    color: #ffff;
    margin-bottom: 1rem;
}

.blog-card-content h1 {
    font-size: 3.5rem;
    font-weight: 300;
    color: #999;
    margin-bottom: 2rem;
}

.blog-card-content p {
    font-size: 1.6rem;
    color: rgb(170, 170, 170);
    width: 40rem;
    margin-bottom: 3rem;
}

.card-btn {
    width: 16rem;
    height: 4rem;
    background: linear-gradient(145deg, #6db193 0, #f1b01b 75%);
    border: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.blog-tours {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    bottom: 4rem;
    left: 0;
}

.blog-tours-item {
    border-radius: 1rem;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.change .blog-tours-item {
    opacity: 1;
    visibility: visible;
}

.change .blog-tours-item:nth-child(1) {
    transition: all 0.3s 0.3s;
}

.change .blog-tours-item:nth-child(2) {
    transition: all 0.3s 0.5s;
}

.change .blog-tours-item:nth-child(3) {
    transition: all 0.3s 0.7s;
}

.tour-img {
     width: 22rem;
     height: 28rem;
     border-radius: 1rem;
     background: linear-gradient(135deg, #6db193, #f1b01b);
}

.tour-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 0.5;
    transition: all 0.3s;
}

.blog-tours-item:hover .tour-img img {
    opacity: 0.05;
}

.blog-tours-item span {
    position: absolute;
    top: 50%;
    left: -35%;
    transform: translateY(-50%) rotateZ(-90deg);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2;
    color: #fff;
}

.blog-tours-item i {
    width: 6rem;
    height: 6rem;
    background-color: #f1b01b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
}

.blog-tours-item:hover i{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s 0.1s;
}